// --------------------------------------------------------------------------
// grid.sass
// --------------------------------------------------------------------------
// This file creates a mixin for multiple grid system options
// --------------------------------------------------------------------------

//***********************************
// grid variables
//***********************************

$container-width: 1280px
$column-count: 12
$gutter-width: 20px
$column-width: $container-width / $column-count

//***********************************
// float column mixin
//***********************************

=col($i)
    box-sizing: border-box
    float: left
    width: percentage($column-width * $i / $container-width)
    padding: 0 ($gutter / 2)

//***********************************
// flex column mixin
//***********************************

=flex-grid
	display: flex

=flex-col($i:"")
	@if $i == "" 
		flex-grow: 1
	@else
		width: percentage($column-width * $i / $container-width)
	
/*.grid__column 
	+flex-col;
	@for $i from 1 through $column-count
  		&--#{$i}
    		+flex-col($i)*/
